
button {
    padding: 5px;
    background-color: LemonChiffon;
}

button:hover {
    background-color: green;

}

#intro {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}
.grid-x  {
    border-width: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
    border-radius: 4px;
	box-shadow: 3px 4px #cdcdcd;
	padding: 20px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	background-color: AliceBlue;
}

.graph  {
    border-width: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
    border-radius: 4px;
	box-shadow: 3px 4px #cdcdcd;
	padding: 20px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	background-color: transparent;
}

#TextBox {
	color: blue;
}
#choosCalc {
    color: black;
	box-sizing: content-box; 
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 4px;
	box-shadow: 3px 4px #cdcdcd;
	padding: 20px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	background-color: AliceBlue;
}

#calc label{
    color: black;
}

.checklist label{
    color: blue;
}

.orange label{
    font-weigth: 700;
}

p {
    font: 1rem 'Fira Sans', sans-serif;
}
