
button {
    padding: 5px;
    background-color: LemonChiffon;
}

button:hover {
    background-color: green;

}

H1 {
	center
}
.grid-x  {
    border-width: 1px;
    border-color: blue;
    border-radius: 1px;
    border-style: solid;
	background-color: AliceBlue;
}

#calc label{
    color: blue;
}

.checklist label{
    color: red;
}

.orange label{
    font-weigth: 700;
}