
button {
    padding: 5px;
    background-color: LemonChiffon;
}

button:hover {
    background-color: green;

}

#intro {
	text-align: center
}
.grid-x  {
    border-width: 1px;
    border-color: blue;
    border-radius: 1px;
    border-style: solid;
	background-color: AliceBlue;
}
#choosCalc label{
    color: blue;
}

#calc label{
    color: blue;
}

.checklist label{
    color: blue;
}

.orange label{
    font-weigth: 700;
}

p {
    font: 1rem 'Fira Sans', sans-serif;
}
